<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$model_news.news_title}</title>
</head>
{$model_news.news_content}

</br>=============================================华丽的分割线======================================================
</br>
测试循环
</br>
{section name=l loop=$model_news_list}
{$model_news_list[l].news_title}</br>
{/section}
<body>
</body>
</html>
